#version=RHEL7

# Kickstart Install File for CentOS 7 to build a vagrant Image with packer
# (c) 2015 Jörg Kütemeier <jk@kuetemeier.net>

install

# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom

# Accept EULA
eula --agreed

# Use graphical install
# graphical
text
skipx
zerombr

# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda

# Keyboard layouts
keyboard --vckeymap=de-nodeadkeys --xlayouts='de (nodeadkeys)'

# System language
lang de_DE.UTF-8

# SELinux
selinux --enforcing

# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=on --ipv6=off
network  --hostname=centos.localdomain

# Root password 'vagrant'
rootpw --iscrypted $6$vBBFTLSv$AP8QxEVNjowbvTn7MOY7X2MxQ2G10C8/1hv2pr64b8oH5d0UlSkYtye7uOqCz7y34RdNieURlaHO3FK3icXK40
# rootpw --plaintext vagrant

# System timezone
timezone Europe/Berlin --isUtc

user --groups=wheel --name=vagrant --password=$6$vBBFTLSv$AP8QxEVNjowbvTn7MOY7X2MxQ2G10C8/1hv2pr64b8oH5d0UlSkYtye7uOqCz7y34RdNieURlaHO3FK3icXK40 --iscrypted --gecos="Vagrant"

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

# Partition clearing information
clearpart --all --drives=sda
ignoredisk --only-use=sda

autopart --type=lvm

firewall --enabled --service=ssh

%packages
@^minimal
@core
kexec-tools
-aic94xx-firmware*
-alsa-*
-iwl*firmware
bzip2
kernel-devel
kernel-headers
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%post
/usr/bin/yum -y install sudo
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
echo "Defaults:vagrant !requiretty"                 >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant
%end
